

html, body{
  font-size: 18px;
}

.App {
  text-align: center;
	color: white
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 16px;
  color: white;
	
}
h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: auto;
  text-align: center;
}

button {
  font-size: 10px;
}

a {
  color: #09f;
  font-size: 32px;
}

:root {
  --gridList-column: 250px;
  --gridList-rows: 250px;
  --gridList-gap: 6px;
}

.ListOfGifs {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(var(--gridList-column), 1fr));
  grid-auto-rows: var(--gridList-rows);
  grid-template-rows: masonry;
  grid-auto-flow: row dense;
  grid-gap: var(--gridList-gap, 6px);
  gap: var(--gridList-gap, 6px);
  align-items: center;
}
.ListOfGifs-item{
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	display: inline-block;
	width: 100%;
}

@media screen and (min-width: 37.5rem) {
  :root {
    --gridList-column: 180px;
    --gridList-rows: 200px;
  }
}

@media screen and (min-width: 60rem) {
  :root {
    --gridList-column: 300px;
    --gridList-rows: 210px;
  }
}

.textfield__label{
	color: white !important;
}